
$days: (
  "tue": 0,
  "wed": 1,
  "thu": 2,
  "fri": 3,
  "sat": 4,
  "sun": 5,
  "mon": 6
);

body {
  margin: 0;
  .calendar {
    width: 707px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
  }
}

@for $i from 1 through 31 {
  .calendar div:nth-child(#{$i}) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 100px;
    flex-shrink: 0;
    height: 100px;
    flex-grow: 0;
    margin-right: 1px;
    background-color: hsl(0, 0%, 93%);
    box-sizing: border-box;
    border: 1px solid black ;
  }
  .calendar div:nth-child(#{$i})::after {
    content: "#{$i}";
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
  }
}

.calendar div:hover {
  background-color: pink;
  position: relative;
  bottom: 20px;
}

.calendar-30 div:nth-child(31),
.calendar-29 div:nth-child(31),
.calendar-29 div:nth-child(30),
.calendar-28 div:nth-child(29),
.calendar-28 div:nth-child(30) {
  display: none;
}

@each $week-day, $day in $days {
  .calendar-#{$week-day} div:first-child {
    margin-left: 101px * $day;
  }
}
